
:root{
    --primary-color: #000;
    --secondary-color: blue;
}

body{
    background-image: url("./images/background.jpg");
    font-family: Arial, sans-serif;
  
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentImg{
    flex-grow: 1;
    border: 5px solid var(--primary-color);
    width: 300px;
    height: 200px;
}

.gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.gallery img{
    width: 250px;
    height: 180px;
    margin: 5px;
    border: 5px solid var(--secondary-color);
}


.subHeading{
    text-align: center;
    color: #000;
    margin: 0 !important;
    padding: 0 !important;
}

.highlight{
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.underline{
    text-decoration: underline;
}